@model S_EDex365.Model.Model.StudentDashboard
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutA.cshtml";
}

<div class="content-wrapper">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card" style=" border-radius: 10px;">
                    <div class="card-body" style="background-color:#FF5733;  height:90px;  border-radius: 10px;">
                        <h2 class="card-title text-center" style=" color:white;">Total Problems</h2>
                        <h5 class="card-text text-center" style=" color:white; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); ">@Model.TotalProblem</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">

                <div class="card" style=" border-radius: 10px;">
                    <div class="card-body" style="background-color:#581845;  height:90px;  border-radius: 10px;">
                        <h2 class="card-title text-center" style=" color:white;">Pending Question</h2>
                        <h5 class="card-text text-center" style=" color:white; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); ">@Model.PendingProblem</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card" style=" border-radius: 10px;">
                    <div class="card-body" style="background-color:#FFC300;  height:90px;  border-radius: 10px;">
                        <h2 class="card-title text-center" style=" color:white;">Solution</h2>
                        <h5 class="card-text text-center" style=" color:white; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); ">@Model.Solution</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3" style="display:none">
                <div class="card">
                    <div class="card-body" style="background-color:#DAF7A6;  height:90px;">
                        <h2 class="card-title text-center" style=" color:black;">Total Problems</h2>
                        <h5 class="card-text text-center" style=" color:black; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); ">@Model.PendingProblem</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3" style="display:none">
                <div class="card">
                    <div class="card-body" style="background-color:#8e44ad ;  height:90px;">
                        <h2 class="card-title text-center" style=" color:black;">Total Problems</h2>
                        <h5 class="card-text text-center" style=" color:black; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); ">@Model.PendingProblem</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3" style="display:none">
                <div class="card">
                    <div class="card-body" style="background-color:#1e8449;  height:90px;">
                        <h2 class="card-title text-center" style=" color:black;">Total Problems</h2>
                        <h5 class="card-text text-center" style=" color:black; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); ">@Model.PendingProblem</h5>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <canvas id="myChart"></canvas>
        </div>

    </div>
</div>

